{% load static %}
<!DOCTYPE html>
<htm>
    <head>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {{ add_item_form.media }}
        <title>Aizu HandsOff</title>
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="welcome-header">
                <!-- url construction generates link from view name in urls.py -->
                <h1><a href= {% url "view-main" %}>Welcome to Aizu HandsOff website!</a></h1>
            </div>
            <div class="add-item">
                <a href="{% url 'add_item' %}" class="top-menu">Add Item</a>
            </div>
        </div>
        {% if is_authorized is True %}
            <div class="logout-link">
                <a href= {% url "my_items"%}>My Items</a> <br>
                <a href= {% url "logout"%}>Logout</a>
            </div>
        {% elif is_authorized is False %}
            <div class="login-link">
                <a href={% url "login" %}>Login</a> <br>
                <a href={% url "register"%}>Register</a>
            </div>
        {% endif %}

        <div class="content container">
            {% block register %}
            {% endblock %}

            {% block login %}
            {% endblock %}

            {% block items_list %}
            {% endblock %}

            {% block add_item %}
            {% endblock %}

            {% block edit_item %}
            {% endblock %}

            {% block item_detail %}
            {% endblock %}

        </div>
    </body>
</htm>