{% load static %}
<!DOCTYPE html>
<htm>
    <head>
        <title>Aizu HandsOff</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Welcome to Aizu HandsOff website!</a></h1>
        </div>
        {% if is_authorized is True%}
            <div class="logout-link">
                <a href="logout">Logout</a>
            </div>
        {% elif is_authorized is False %}
            <div class="login-link">
                <a href="login">Login</a> <br>
                <a href="register">Register</a>
            </div>
        {% endif %}

        <div class="content container">
            <div>
                <h3>{{ sub_header }}</h3>
            </div>
            {% block register %}
            {% endblock %}

            {% block login %}
            {% endblock %}

            {% block items_list %}
            {% endblock %}

            {% block add_item %}
            {% endblock %}

            {% block edit_item %}
            {% endblock %}

            {% block item_detail %}
            {% endblock %}

        </div>
    </body>
</htm>