{% extends 'base.html' %}

{% block items_list %}
    <div class="categories-items-container">
        <div class="categories-list">
            <h3>Categories:</h3>
            <ul>
                <li><a href="{% url 'view-main'%}">All</a></li>
            {% for category in category_list %}
                <!-- To add clickable link-->
                <li> <a href="#" onclick="getItemsByCategory({{ category.pk }});">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="items-list">
            <div class="sub-header">
                <h3 id="sub_header_message">{{ sub_header }}</h3>
            </div>
            <table class="table" id="items_table">
                <tr>
                    <th>Item name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Available date</th>
                </tr>
                {% for item in items_list %}
                    <tr>
                        <!-- Generate link based on primary key -->
                        <td><a href="{% url 'item_detail' pk=item.pk %}">{{ item.name }}</a></td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.available_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}