{% extends 'base.html' %}

{% block item_detail %}
    {% if is_authorized %}
            <!-- Added button to edit item if user is authorized -->
        <a class="btn btn-default" href="{% url 'edit_item' pk=item.pk %}">Edit Item</a>
            <!-- Added button to delete (remove) item if user is authorized -->
        <a class="btn btn-default" href="{% url 'remove_item' pk=item.pk %}">Remove Item</a>
    {% endif %}
    <table class="table" style="width: 50%">
        <tr>
            <th>Item name</th>
            <td> {{ item.name }} </td>
        </tr>
        <tr>
            <th>Category</th>
            <td> {{ item.category.name }} </td>
        </tr>
        <tr>
            <th>Description</th>
            <td> {{ item.description }} </td>
        </tr>
        <tr>
            <th>Price</th>
            <td> {{ item.price }} </td>
        </tr>
        <tr>
            <th>Available date</th>
            <td> {{ item.available_date }} </td>
        </tr>
        <tr>
            <th>Posted by</th>
            <td> {{ item.owner.name }} </td>
        </tr>
        <tr>
            <th>Contact Information</th>
            <td> {{ item.owner.contact_info }} </td>
        </tr>
    </table>

{% endblock %}